<div>

  <input type="hidden" id="anPageName" name="page" value="landing" />
  <div class="container-center-horizontal">
    <form class="landing screen" name="form1" action="form1" method="post">
      <div class="overlap-group26">
        <div class="overlap-group22">
          <div class="rectangle-20"></div>
          <img class="path-2618" src="assets/img/path-2617@1x.png" alt="Path 2618" />
          <img class="path-2617" src="assets/img/path-2617@1x.png" alt="Path 2617" />
          <div class="rectangle-12"></div>
          <div class="my-movie-1">
            <video
              width="100%"
              height="100%"
              src="https://cdn.animaapp.com/projects/64d8daa07fc463ee9bda2868/files/my-movie-1.mp4"
              loop
              controls
              autoplay="autoplay"
              playsinline
              muted
            ></video>
          </div>
          <div class="rectangle-2"></div>
          <div class="overlap-group-3">
            <img class="path-2588" src="assets/img/path-2588@1x.png" alt="Path 2588" />
            <img class="line-1 line" src="assets/img/line-1@1x.png" alt="Line 1" />
          </div>
          <div class="text-1-1 dinnextltarabic-regular-normal-white-70px">مــــــــسارات</div>
          <div class="text-2-1 dinnextltarabic-regular-normal-white-70px">أسطولك بين يديك</div>
          <div class="rectangle-5"></div>
          <div class="rectangle-6"></div>
          <div class="rectangle-7"></div>
          <div class="rectangle-8"></div>
          <div class="rectangle-9"></div>
          <img class="line-2 line" src="assets/img/line-2@1x.png" alt="Line 2" />
          <div class="arrow-down"><img class="path-2593" src="assets/img/path-2593@1x.png" alt="Path 2593" /></div>
          <div class="text-3-1">الــمزيد</div>
          <div class="overlap-group1-1">
            <div class="screenshot-2566-07-31-at-33854-pm"></div>
            <img class="ellipse-4" src="assets/img/ellipse-4@1x.png" alt="Ellipse 4" />
            <img class="play" src="assets/img/path-2595@1x.png" alt="play" />
          </div>
          <div class="text-6 dinnextltarabic-bold-white-70px">الخدمات</div>
          <div class="text-7 dinnextltarabic-regular-normal-white-45px">التتبع المباشر للمركبات</div>
          <div class="arrow-down-1 arrow-down-3">
            <img class="path-2593" src="assets/img/path-2593-1@1x.png" alt="Path 2593" />
          </div>
          <img class="line-3 line" src="assets/img/line-3@1x.png" alt="Line 3" />
          <div class="text-8 dinnextltarabic-regular-normal-white-45px">التشغيل والصيانة للمركبات</div>
          <div class="text-9 dinnextltarabic-regular-normal-white-45px">إدارة تأجير المركبات</div>
          <img class="line-4 line" src="assets/img/line-4@1x.png" alt="Line 4" />
          <img class="line-5 line" src="assets/img/line-5@1x.png" alt="Line 5" />
          <img class="line-6 line" src="assets/img/line-6@1x.png" alt="Line 6" />
          <div class="text-10 dinnextltarabic-bold-green-pea-70px">المميزات</div>
          <div class="rectangle-24"></div>
          <div class="group-152">
            <img class="approved" src="assets/img/approved@1x.png" alt="approved" />
            <p class="text-11 dinnextltarabic-bold-green-pea-29px">خدمة معتمدة من الهيئة العامة للنقل</p>
          </div>
          <div class="rectangle-25"></div>
          <div class="group-153">
            <div class="flex-row">
              <div class="group-1"><div class="number number-4 dinnextltarabic-bold-white-48px">2</div></div>
              <img class="g2013" src="assets/img/g2013@1x.png" alt="g2013" />
            </div>
            <div class="text-12 dinnextltarabic-bold-green-pea-29px">التكامل مع الخدمات</div>
            <div class="text-container">
              <p class="text-13 dinnextltarabic-regular-normal-cape-cod-35px">
                خدمة تم لعمليات التفويض ، خدمة تأجير لإصدار عقد التأجير الإلكتروني، وخدمة شموس للبيانات
              </p>
              <div class="text-14 dinnextltarabic-regular-normal-green-pea-35px">تم</div>
              <div class="text-15 dinnextltarabic-regular-normal-green-pea-35px">تأجير</div>
              <div class="text-16 dinnextltarabic-regular-normal-green-pea-35px">شموس</div>
            </div>
          </div>
          <div class="group-154">
            <div class="flex-row-1">
              <div class="group-160"><div class="number-2 number-4 dinnextltarabic-bold-white-48px">3</div></div>
              <img class="g5295" src="assets/img/g5295@1x.png" alt="g5295" />
            </div>
            <div class="text-17 dinnextltarabic-bold-green-pea-29px">نظام متخصص</div>
            <p class="text dinnextltarabic-regular-normal-cape-cod-35px">
              مدعوم بلوحة مؤشرات وتقارير دورية وخاصية الإشعارات لرفع الكفاءة ومتابعة عمليات الصيانة
            </p>
          </div>
          <div class="group-155">
            <div class="flex-row-2">
              <div class="group-1"><div class="number number-4 dinnextltarabic-bold-white-48px">4</div></div>
              <img class="g549" src="assets/img/g549@1x.png" alt="g549" />
            </div>
            <div class="text-19 dinnextltarabic-bold-green-pea-29px">شمولية الأداء</div>
            <p class="text dinnextltarabic-regular-normal-cape-cod-35px">
              عن طريق مراقبة سلوك قائدي المركبات ومتابعة الصيانة الدورية والوثائق الخاصة بالمركبات والسائقين
            </p>
          </div>
          <div class="group-158"><div class="number number-4 dinnextltarabic-bold-white-48px">1</div></div>
          <div class="arrow-down-2 arrow-down-3">
            <img class="path-2593-1" src="assets/img/path-2593-2@1x.png" alt="Path 2593" />
          </div>
          <img class="line-7 line" src="assets/img/line-7@1x.png" alt="Line 7" />
          <img class="line-8 line" src="assets/img/line-8@1x.png" alt="Line 8" />
          <img class="line-9 line" src="assets/img/line-9@1x.png" alt="Line 9" />
          <img class="line-10 line" src="assets/img/line-10@1x.png" alt="Line 10" />
          <img class="line-11 line" src="assets/img/line-10@1x.png" alt="Line 11" />
          <img class="line-12 line" src="assets/img/line-10@1x.png" alt="Line 12" />
          <img class="track" src="assets/img/track@1x.png" alt="track" />
          <img class="g2103" src="assets/img/g2103@1x.png" alt="g2103" />
          <img class="g4581" src="assets/img/g4581@1x.png" alt="g4581" />
          <img class="line-13 line" src="assets/img/line-13@1x.png" alt="Line 13" />
          <div class="rectangle-73"></div>
          <img class="group-193" src="assets/img/group-192@1x.png" alt="Group 193" />
          <div class="group-218">
            <div class="text-39 dinnextltarabic-regular-normal-white-23px">تسجيل الدخول</div>
          </div>
          <div class="group-219"><div class="text-40">تسجيل جديد</div></div>
          <div class="group-220">
            <img class="font-awsome-globe" src="assets/img/fontawsome--globe-@1x.png" alt="FontAwsome (globe)" />
            <div class="language dinnextltarabic-regular-normal-green-pea-22px">English</div>
          </div>
          <div class="overlap-group11">
            <img class="path-2589" src="assets/img/path-2589@1x.png" alt="Path 2589" />
            <img class="path-2590" src="assets/img/path-2590@1x.png" alt="Path 2590" />
            <div class="text-41 dinnextltarabic-regular-normal-white-30px">اشترك بالخدمة</div>
          </div>
          <img class="image-1" src="assets/img/image-1@1x.png" alt="Image 1" />
          <div class="navbar dinnextltarabic-regular-normal-green-pea-22px">
            <div class="navbar-link-text-63 navbar-link-text">تواصل معنا</div>
            <div class="navbar-link-text-64 navbar-link-text">الباقات و الاشتراكات</div>
            <div class="navbar-link-text-65 navbar-link-text">المميزات</div>
            <div class="navbar-link-text-66 navbar-link-text">عن مسارات</div>
          </div>
          <img class="group-24580" src="assets/img/group-24580@1x.png" alt="Group 24580" />
          <img class="line-14 line" src="assets/img/line-14@1x.png" alt="Line 14" />
          <div class="text-67 dinnextltarabic-regular-normal-white-30px">خدمة سحابية مقدمة من</div>
          <div class="text-68 dinnextltarabic-bold-white-30px">شركة علم</div>
          <div class="text-69 dinnextltarabic-regular-normal-white-30px">ومعتمدة من هيئة النقل</div>
          <p class="text-70 dinnextltarabic-regular-normal-white-30px">لتزيل عناء المراقبة والرصد والتتبع</p>
          <div class="text-71 dinnextltarabic-regular-normal-white-30px">خدمة المبيعات</div>
          <div class="phone phone-3 dinnextltarabic-bold-white-30px">920029200</div>
        </div>
        <p class="text-4">
          نظام يوفر المعلومات والمؤشرات والتقارير التحليلية والإشعارات التي تفيد في إدارة أسطول المركبات باحترافية؛
          مما يسهم في خفض التكاليف والهدر، ويزيد من فاعلية أسطول المركبات، وينعكس إيجابًا على كفاءة الأداء التشغيلي
          للمنشآت.
        </p>
        <div class="text-5-1 dinnextltarabic-bold-green-pea-70px">عن مسارات</div>
        <div class="text-21 dinnextltarabic-bold-green-pea-70px">الباقات و الاشتراكات</div>
      </div>
      <div class="flex-row-3">
        <div class="phone-1 phone-3">920029200</div>
        <p class="text-22 dinnextltarabic-regular-normal-cape-cod-30px">
          حدد عدد المركبات، واختر الباقة المناسبة لإدارة أسطولك.. أو يمكنك التواصل مع خدمة المبيعات
        </p>
      </div>
      <div class="flex-row-4">
        <div class="flex-row-item">
          <div class="overlap-group">
            <div class="text-1 dinnextltarabic-regular-normal-white-30px">10-99 مركبة</div>
            <div class="x2 x2-5">
              <div class="text-62 dinnextltarabic-regular-normal-green-pea-30px">أكثر من 5000</div>
            </div>
          </div>
        </div>
        <div class="flex-row-item">
          <div class="overlap-group">
            <div class="text-1 dinnextltarabic-regular-normal-white-30px">10-99 مركبة</div>
            <div class="x2-1 x2-5">
              <div class="text-60 dinnextltarabic-regular-normal-green-pea-30px">1000-4999 مركبة</div>
            </div>
          </div>
        </div>
        <div class="flex-row-item">
          <div class="overlap-group">
            <div class="text-1 dinnextltarabic-regular-normal-white-30px">10-99 مركبة</div>
            <div class="x2-2 x2-5">
              <div class="text-5 dinnextltarabic-regular-normal-green-pea-30px">500-999 مركبة</div>
            </div>
          </div>
        </div>
        <div class="flex-row-item">
          <div class="overlap-group">
            <div class="text-1 dinnextltarabic-regular-normal-white-30px">10-99 مركبة</div>
            <div class="x2-3 x2-5">
              <div class="text-5 dinnextltarabic-regular-normal-green-pea-30px">250-499 مركبة</div>
            </div>
          </div>
        </div>
        <a href="javascript:SubmitForm('form1')">
          <div class="x1 x1-2">
            <div class="overlap-group">
              <div class="text-1 dinnextltarabic-regular-normal-white-30px">10-99 مركبة</div>
              <div class="x2-4 x2-5">
                <div class="text-5 dinnextltarabic-regular-normal-green-pea-30px">100-249 مركبة</div>
              </div>
            </div>
          </div></a
        >
        <div class="x1-1 x1-2"><div class="text-52 dinnextltarabic-regular-normal-white-30px">10-99 مركبة</div></div>
      </div>
      <div class="group-container">
        <div class="group-20">
          <div class="text-36 dinnextltarabic-bold-cape-cod-29px">الباقة الشاملة</div>
          <div class="overlap-group-1">
            <div class="overlap-group-2">
              <div class="number-1 number-4 dinnextltarabic-bold-cape-cod-72px">23</div>
              <div class="group-1-1">
                <div class="text-2 dinnextltarabic-regular-normal-white-23px">للمركبة الواحدة</div>
              </div>
            </div>
            <div class="text-37 dinnextltarabic-regular-normal-cape-cod-32px">ريـال/شهرياً</div>
          </div>
        </div>
        <div class="group-20">
          <div class="text-32 dinnextltarabic-bold-cape-cod-29px">باقة التأجير</div>
          <div class="overlap-group8">
            <div class="overlap-group7">
              <h1 class="text-33 dinnextltarabic-bold-cape-cod-72px">7.5</h1>
              <div class="group-1-1">
                <div class="text-2 dinnextltarabic-regular-normal-white-23px">للمركبة الواحدة</div>
              </div>
            </div>
            <div class="text-3 dinnextltarabic-regular-normal-cape-cod-32px">ريـال/شهرياً</div>
          </div>
        </div>
        <div class="group-206">
          <div class="text-29 dinnextltarabic-bold-cape-cod-29px">باقة التتبع و التشغيل<br />والصيانة</div>
          <div class="overlap-group-1">
            <div class="overlap-group-2">
              <div class="number-1 number-4 dinnextltarabic-bold-cape-cod-72px">18</div>
              <div class="group-1-1">
                <div class="text-2 dinnextltarabic-regular-normal-white-23px">للمركبة الواحدة</div>
              </div>
            </div>
            <div class="text-3 dinnextltarabic-regular-normal-cape-cod-32px">ريـال/شهرياً</div>
          </div>
        </div>
        <div class="group-20">
          <div class="text-26 dinnextltarabic-bold-cape-cod-29px">باقة التتبع</div>
          <div class="overlap-group-1">
            <div class="overlap-group3">
              <div class="number-3 number-4 dinnextltarabic-bold-cape-cod-72px">16</div>
              <div class="group-1-1">
                <div class="text-2 dinnextltarabic-regular-normal-white-23px">للمركبة الواحدة</div>
              </div>
            </div>
            <div class="text-3 dinnextltarabic-regular-normal-cape-cod-32px">ريـال/شهرياً</div>
          </div>
        </div>
      </div>
      <p class="text-23 dinnextltarabic-regular-normal-cape-cod-30px">الأسعار بالريال السعودي لكل مركبة شهريًا</p>
      <div class="text-container-1">
        <p class="text-24 dinnextltarabic-regular-normal-cape-cod-30px">
          ملاحظة: هذه رسوم الاشتراك في البرنامج فقط، ولا تشمل الأجهزة والحساسات والشرائح
        </p>
        <div class="text-25 dinnextltarabic-regular-normal-green-pea-30px">ملاحظة:</div>
      </div>
      <div class="group-26212">
        <div class="overlap-group14">
          <img class="path-2589-1" src="assets/img/path-2589-1@1x.png" alt="Path 2589" />
          <img class="path-2590-1" src="assets/img/path-2590-1@1x.png" alt="Path 2590" />
          <div class="text-46 dinnextltarabic-bold-white-30px">اشترك بالخدمة</div>
        </div>
      </div>
      <div class="overlap-group23">
        <div class="flex-row-5">
          <div class="phone-2 phone-3 dinnextltarabic-bold-white-30px">920000356</div>
          <div class="text-container-2">
            <div class="text-42 dinnextltarabic-bold-white-70px">تواصل معنا</div>
            <p class="text_label dinnextltarabic-regular-normal-white-30px">
              يمكنك إرسال طلب على طريق البريد الاكتروني HD@elm.sa&nbsp;&nbsp;أو رقم خدمة العملاء
            </p>
          </div>
        </div>
        <div class="group-container-1">
          <div class="group-2643">
            <div class="text-44 dinnextltarabic-regular-normal-white-25px">رقم التواصل</div>
            <div class="overlap-group1">
              <div class="rectangle-16"></div>
              <div class="x05xxxxxxxx dinnextltarabic-regular-normal-cape-cod-25px">05xxxxxxxx</div>
            </div>
          </div>
          <div class="group-26435">
            <div class="text-43 dinnextltarabic-regular-normal-white-25px">البريد الالكتروني</div>
            <div class="overlap-group12">
              <div class="rectangle-16"></div>
              <div class="examplegmailcom dinnextltarabic-regular-normal-cape-cod-25px">example@gmail.com</div>
            </div>
          </div>
          <div class="group-2643">
            <div class="text-47 dinnextltarabic-regular-normal-white-25px">اسم العميل أو الشركة</div>
            <div class="overlap-group1">
              <div class="rectangle-16"></div>
              <div class="text-48 dinnextltarabic-regular-normal-cape-cod-25px">اسم العميل أو الشركة</div>
            </div>
          </div>
        </div>
        <div class="group-26437">
          <div class="text-49 dinnextltarabic-regular-normal-white-25px">الرسالة</div>
          <div class="overlap-group16">
            <div class="rectangle-16-1"></div>
            <div class="text-50 dinnextltarabic-regular-normal-cape-cod-25px">الرجاء كتابة تفاصيل الطلب</div>
          </div>
        </div>
        <div class="group-26438"><div class="text-51">إرسال</div></div>
        <p class="text-45 dinnextltarabic-regular-normal-white-23px">جميع الحقوق محفوظة © علم 2023</p>
      </div>
    </form>
  </div>
</div>